<section> 
    <div class="blog-header">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <p>{{body}}</p>
    </section>